body {
    font-family: "Roboto 2", "Helvetica Neue";
    margin: 0;
    text-align: center;
    font-size: 14px;
}

.header {
    padding-top: 3%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.icon_container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0; margin: 0;
    background: #70c26f;
    color: #fff;
    color: yellow;
    font-size: 3.0rem;
}

.icon: hover {
    opacity: 0.9;
    filter: alpha(opacity=9);
    color: darkgreen;
}

.user {
    font-size: 1.2rem;
}

.nav {
    width: 100%;
    padding: 0; margin: 0; width: 100%;
}

ul {
    width: 100%;
    padding: 0; margin: 0; width: 100%;
}

li {
    padding: 0; margin: 0;
    list-style-type: none;
    width: 33%;
    float: left;
    font-size: 1.4rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

li: hover {
    background: #C2F98E;
    opacity: 0.8;
    filter: alpha(opacity=8);
}

.nav-admin li {
    width: 20%;
    font-size: 1.0rem;
}

.content {
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    font-size: 1.0rem;
}

#page_titel {
    margin: 0; padding: 0; padding-top: 5%;
    font-size: 1.5rem;
    color: blue;
}

#melding {
    color: red;
    font-size: 1.0rem;
}

form {
    width: 60%;
}

input {
    float: none;
    height: 25px;
    width: 100%;
    border: none;
    display: block;
    color: rgb(33,33,33);
    background-color: #C2F98E;
    border-radius: 5px;
    margin-bottom: 4%;
    text-align: center;
    font-size: 1.0rem;
}

input: hover {
    background: #D8F9B6;
}